@{
    ViewData["Title"] = "About";
}

<div class="row" style="margin-bottom:0px">
    <div class="col s12 m12 l10 offset-l1" style="margin-top: 10vh; margin-bottom: 5vh">

        <div class="card" style="display:block;">
            <div class="card-content">
               
                <span class="card-title center">About the project</span>
                <br />

                <span class="card-title center" style="font-size:20px">
                    The Data Analysis System application was developed as part of the Master's thesis titled: <br /><span class="teal-text text-lighten-1">"Data Analysis System - Web Application"</span> developed by the graduate student:
                </span>

                <span class="card-title center teal-text text-lighten-1" style="font-size:20px; margin-top: 30px; margin-bottom: 50px">
                    inż. Łukasz Czepielik
                </span>

                <span class="card-title " style="font-size:16px;">
                    University of Bielsko-Biala, Faculty of Mechanical Engineering and Computer Science <br /> Computer Science - Software Development Techniques
                </span>

            </div>

        </div>
    </div>
</div>

