@model DataAnalysisSystem.DTO.UserSystemInteractionDTO.ContactWithAdministrationViewModel

@{
    ViewData["Title"] = "Contact";
}

<div class="row" style="margin-bottom:0px">

    <div class="col s12 m10 l8 offset-m1 offset-l2" style="margin-top: 10vh">
        <div class="card">
            <div class="card-content">
                <span class="card-title center-align">Contact</span>

                <form method="post" asp-action="ContactWithAdministration" asp-controller="UserSystemInteraction" enctype="multipart/form-data">

                    <div class="input-field">

                        <i class="material-icons prefix">mail_outline</i>
                        <input type="email" asp-for="SenderEmail" required="" aria-required="true" class="validate">
                        <label asp-for="SenderEmail"></label>

                        <span asp-validation-for="SenderEmail" class="helper-text" style="color: #F44336"></span>

                    </div>

                    <div class="input-field">

                        <i class="material-icons prefix">security</i>
                        <input type="text" asp-for="Topic" required="" aria-required="true" class="validate">
                        <label asp-for="Topic"></label>

                        <span asp-validation-for="Topic" class="helper-text" style="color: #F44336"></span>

                    </div>

                    <div class="input-field">

                        <i class="material-icons prefix">format_align_left</i>
                        <textarea asp-for="EmailMessageContent" class="materialize-textarea validate"></textarea>
                        <label asp-for="EmailMessageContent"></label>

                        <span asp-validation-for="EmailMessageContent" class="helper-text" style="color: #F44336"></span>
                    </div>

                    <div class="file-field">
                        <div class="btn teal darken-4">
                            <span>Attachments</span>
                            <input asp-for="Attachments" type="file" multiple>
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" placeholder="Upload one or more attachments">
                        </div>

                        <span asp-validation-for="Attachments" class="helper-text" style="color: #F44336"></span>
                    </div>

                    <div class="center-align" style="margin-top: 10px">
                        <button class="btn waves-effect waves-light" type="submit">
                            Send
                        </button>
                    </div>

                </form>

            </div>
        </div>

    </div>
</div>

@section Notification
{
    @{await Html.RenderPartialAsync("_NotificationMenuValidationAndMessage", new NotificationMenuViewModel { NotificationContainerId = "notificationContainer" });}
}