@{
    ViewData["Title"] = "Home";
}

<style>
    .card-content {
        opacity: 0.4;
        background-image: url("../images/logo_fill_transparent.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
</style>

<div class="row" style="margin-bottom:0px">
    <div class="col s8 offset-s2" style="margin-top:5%">
        <div class="card card-login" style="height:50vh;">
            <div class="card-content">
            </div>
        </div>
    </div>
</div>

@if (ViewData["Message"] != null)
{
    @section Notification
    {
        <div class="row">
            <div class="col s8 offset-s2">

                <h2 class="alert alert-info" role="alert">@ViewData["Message"]</h2>

            </div>
        </div>
    }
}