@{
    ViewData["Title"] = "Home";
}

@{await Html.RenderPartialAsync("_MainActionCardContentStyle");}

<div class="row" style="margin-bottom: 0px">
    <div class="col s12 m10 l8 offset-m1 offset-l2" style="margin-top: 10vh">
        <div class="card" style="height: 50vh;">
            <div class="card-content">
            </div>
        </div>
    </div>
</div>

@if (ViewData["Message"] != null)
{
    await Html.RenderPartialAsync("_NotificationMenuMessage", new NotificationMenuViewModel { NotificationContainerId = "notificationContainer" });
}