@using DataAnalysisSystem.DataEntities
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityProviderUser> SignInManager
@inject UserManager<IdentityProviderUser> UserManager

@if (!SignInManager.IsSignedIn(User))
{
    <a asp-controller="User" asp-action="UserLogin" class="waves-effect waves btn-flat" style="height:35px">Sign In</a>
    <a asp-controller="User" asp-action="UserRegister" class="waves-effect waves-teal btn-flat" style="border: solid #26a69a; border-radius: 12px 12px; height: 41px;">Sign Up</a>
}
