@model DataAnalysisSystem.DTO.AdditionalFunctionalities.NotificationMenuViewModel

<div id="@Model.NotificationContainerId" class="row" style="margin-bottom: 0px;">
    <div class="col s8 offset-s2">

        <div asp-validation-summary="ModelOnly" class="row justify-content-center alert alert-danger validation-model"></div>

    </div>
</div>