<div class="fixed-action-btn" style="margin-bottom:10px">
    <a onclick="window.print()" class="btn-floating btn-large waves-effect waves-teal">
        <i class="large material-icons">print</i>
    </a>
</div>