@model DataAnalysisSystem.DTO.AnalysisDTO.AnalysisDetailsViewModel

<div class="row" style="margin-top: 2vh; margin-bottom: 2vh;">
    <div class="col s12">
        <div class="card" style="display:block;">
            <div class="card-content">
                <span class="card-title center-align">Histogram Method Parameters Details</span>
                <span class="card-title center teal-text text-lighten-1"></span>

                @{await Html.RenderPartialAsync("_LoadingIndicatorPartial", "histogramParametersDataTableLoadingIndicator");}

                <table id="histogramParametersDataTable" class="row-border highlight striped" cellspacing="0" width="100%" style="display:none">
                    <thead>

                        <tr>
                            @for (int i = 0; i < Model.AnalysisParameters.HistogramParameters.NumberColumns.Count() + Model.AnalysisParameters.HistogramParameters.StringColumns.Count(); i++)
                            {
                                var numberColumn = Model.AnalysisParameters.HistogramParameters.NumberColumns.Where(z => z.PositionInDataset == i).FirstOrDefault();

                                if (numberColumn != null)
                                {
                                    int index = Model.AnalysisParameters.HistogramParameters.NumberColumns.IndexOf(numberColumn);

                                    <th>
                                        @numberColumn.AttributeName

                                        <p class="center">
                                            <label>
                                                <input @{if (Model.AnalysisParameters.HistogramParameters.NumberColumns[index].ColumnSelected) { <text> checked </text>  }} type="checkbox" class="filled-in histCheck" readonly disabled />
                                                <span></span>
                                            </label>
                                        </p>
                                    </th>
                                }
                                else
                                {
                                    var stringColumn = Model.AnalysisParameters.HistogramParameters.StringColumns.Where(z => z.PositionInDataset == i).FirstOrDefault();
                                    int index = Model.AnalysisParameters.HistogramParameters.StringColumns.IndexOf(stringColumn);

                                    <th>
                                        @stringColumn.AttributeName

                                        <p class="center">
                                            <label>
                                                <input @{if (Model.AnalysisParameters.HistogramParameters.StringColumns[index].ColumnSelected) { <text> checked </text>  }} type="checkbox" class="filled-in histCheck" readonly disabled />
                                                <span></span>
                                            </label>
                                        </p>
                                    </th>
                                }
                            }
                        </tr>

                    </thead>
                    <tbody>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>