<li>
    <div class="collapsible-header">
        <i class="material-icons">travel_explore</i>Deriverative
        <div class="switch methodSwitch" style="margin-left: auto; margin-right: 0px; display:none" onclick="StopEventPropagation(event)">
            <label>
                <input type="checkbox" name="selectedAnalysisMethods" value="deriverativeMethod" id="deriverativeMethod" onchange="ChangeVisibilityOfParametersDiv('divDeriverativeMethodParameters')">
                <span class="lever"></span>
            </label>
        </div>
    </div>
    <div class="collapsible-body" style="text-align:justify">
        <p>
            This method allows the first and second derivatives to be calculated from the approximation made with cubic splines. The operation can be performed for any attribute (column containing numeric types). The OX axis is taken as consecutive natural numbers, while the OY axis is represented by the values of the selected attribute. In order for the method to work correctly, information about the number of approximation points must be entered.
        </p>
    </div>
</li>