@model DataAnalysisSystem.DTO.AdditionalFunctionalities.ModalBottomSheetViewModel

<div id="@Model.ModalIdentificator" class="modal bottom-sheet" style="z-index: 1010; border:solid 2px; border-color:#26a69a">
    <div class="modal-content">
        <h4 class="center-align">@Model.ModalHeader</h4>
        <h4 class="center-align">@Model.ModalPrimaryText</h4>
        <div class="progress">
            <div class="indeterminate"></div>
        </div>
    </div>
</div>