<li>
    <div class="collapsible-header">
        <i class="material-icons">travel_explore</i>Approximation
        <div class="switch methodSwitch" style="margin-left: auto; margin-right: 0px; display:none" onclick="StopEventPropagation(event)">
            <label>
                <input type="checkbox" name="selectedAnalysisMethods" value="approximationMethod" id="approximationMethod" onchange="ChangeVisibilityOfParametersDiv('divApproximationMethodParameters')">
                <span class="lever"></span>
            </label>
        </div>
    </div>
    <div class="collapsible-body" style="text-align:justify">
        <p>
            This method allows an approximation operation to be performed on any attribute of a data set (a column containing numeric types) using cubic splines. A separate approximation is performed for each selected attribute. The values on the OX axis are taken as consecutive natural numbers, while the values on the OY axis are the values of the selected attribute.In order to work correctly, the approximation operation requires the parameter in the form of a number of approximation points.
        </p>
    </div>
</li>