<li>
    <div class="collapsible-header">
        <i class="material-icons">travel_explore</i>Regression
        <div class="switch methodSwitch" style="margin-left: auto; margin-right: 0px; display:none">
            <label>
                <input type="checkbox" name="selectedAnalysisMethods" value="regressionMethod" onchange="ChangeVisibilityOfParametersDiv('divRegressionMethodParameters')">
                <span class="lever"></span>
            </label>
        </div>
    </div>
    <div class="collapsible-body">
        <p>Description</p>
    </div>
</li>