<li>
    <div class="collapsible-header">
        <i class="material-icons">travel_explore</i>Regression
        <div class="switch methodSwitch" style="margin-left: auto; margin-right: 0px; display:none" onclick="StopEventPropagation(event)">
            <label>
                <input type="checkbox" name="selectedAnalysisMethods" value="regressionMethod" id="regressionMethod" onchange="ChangeVisibilityOfParametersDiv('divRegressionMethodParameters')">
                <span class="lever"></span>
            </label>
        </div>
    </div>
    <div class="collapsible-body" style="text-align:justify">
        <p>
            This method allows the execution of a multi-criteria linear regression algorithm. The procedure takes into account all numerical attributes included in the analysed data set. The attributes selected by the user are used to compare the obtained regression results - the prediction of the values of the indicated columns with the values originally existing in the data set by the help of a two-dimensional space.
        </p>
    </div>
</li>