<li>
    <div class="collapsible-header">
        <i class="material-icons">travel_explore</i>Histogram
        <div class="switch methodSwitch" style="margin-left: auto; margin-right: 0px; display:none" onclick="StopEventPropagation(event)">
            <label>
                <input type="checkbox" name="selectedAnalysisMethods" value="histogramMethod" id="histogramMethod" onchange="ChangeVisibilityOfParametersDiv('divHistogramMethodParameters')">
                <span class="lever"></span>
            </label>
        </div>
    </div>
    <div class="collapsible-body" style="text-align:justify">
        <p>This method allows a histogram to be drawn up of the values occurring in a particular column of a dataset containing numerical or textual values. The coefficients of the number of intervals defined within a single histogram are used to control the method.</p>
    </div>
</li>