<li>
    <div class="collapsible-header">
        <i class="material-icons">travel_explore</i>K-Means Clustering
        <div class="switch methodSwitch" style="margin-left: auto; margin-right: 0px; display:none" onclick="StopEventPropagation(event)">
            <label>
                <input type="checkbox" name="selectedAnalysisMethods" value="kMeansClusteringMethod" id="kMeansClusteringMethod" onchange="ChangeVisibilityOfParametersDiv('divKMeansClusteringMethodParameters')">
                <span class="lever"></span>
            </label>
        </div>
    </div>
    <div class="collapsible-body" style="text-align:justify">
        <p>This method allows us to perform a k-means clustering algorithm. The procedure takes into account all numerical attributes found in the analysed dataset. The attributes selected by the user are used to represent the clustering results in a two-dimensional space. For the method to work correctly, the number of clusters to be produced must be indicated.</p>
    </div>
</li>