@model DataAnalysisSystem.DTO.AnalysisDTO.AnalysisDetailsViewModel

<div class="row" style="margin-top: 2vh; margin-bottom: 2vh">
    <div class="col s12">

        <div class="card" style="display:block;">
            <div class="card-content">
                <span class="card-title center">Approximation Method Results</span>

                <div>
                    <canvas id="test"></canvas>
                </div>


            </div>

        </div>
    </div>
</div>

