@model DataAnalysisSystem.DTO.AnalysisDTO.AnalysisDetailsViewModel

<div class="row" style="margin-top: 2vh; margin-bottom: 2vh">
    <div class="col s12">

        <div class="card" style="display:block;">
            <div class="card-content">
                <span class="card-title center">Approximation Method Results</span>

                @for (int i = 0; i < Model.AnalysisResults.ApproximationResult.AttributeName.Count; i++)
                {
                    <div>
                        <canvas id="approximationChart_@i"></canvas>
                    </div>
                }

            </div>

        </div>
    </div>
</div>

