@{
    ViewData["Title"] = "Available Analysis Methods";
}

<div class="row" style="margin-top: 5vh; margin-bottom:5vh">

    <div id="analysisMethodOverview" class="col s12 m10 l8 offset-m1 offset-l2">
        <div class="card">
            <div class="card-content">
                <span class="card-title center-align" style="margin-bottom:30px">Available analysis methods</span>

                @{await Html.RenderPartialAsync("_AvailableAnalysisMethodsCollapsiblePartial");}

            </div>
        </div>
    </div>
</div>