@model DataAnalysisSystem.DTO.UserDTO.ChangeForgottenPasswordViewModel

@{
    ViewData["Title"] = "Change Forgotten Password";
}

<div class="row" style="margin-bottom:0px">

    <div class="col s8 offset-s2" style="margin-top:5%">
        <div class="card card-login">
            <div class="card-content">
                <span class="card-title center-align">Contact</span>

                <form method="post">
                    <input asp-for="UserIdentificator" class="form-control" hidden readonly />
                    <input asp-for="ConfirmationCode" class="form-control" hidden readonly />

                    <div class="input-field col s6">

                        <i class="material-icons prefix">lock</i>
                        <input type="password" asp-for="Password" required="" aria-required="true" class="validate">
                        <label asp-for="Password"></label>

                        <span asp-validation-for="Password" class="helper-text" style="color: #F44336"></span>

                    </div>

                    <div class="input-field col s6">

                        <i class="material-icons prefix">lock_open</i>
                        <input type="password" asp-for="ConfirmPassword" required="" aria-required="true" class="validate">
                        <label asp-for="ConfirmPassword"></label>

                        <span asp-validation-for="ConfirmPassword" class="helper-text" style="color: #F44336"></span>

                    </div>

                    <div class="center-align" style="margin-top: 10px">
                        <input class="btn" type="submit" value="Change password">
                    </div>

                </form>

            </div>
        </div>

    </div>
</div>
