@model DataAnalysisSystem.DTO.UserDTO.ChangeForgottenPasswordViewModel

@{
    ViewData["Title"] = "Change Forgotten Password";
}

<div class="row" style="margin-bottom:0px">

    <div class="col s12 m10 l8 offset-m1 offset-l2" style="margin-top: 10vh">
        <div class="card">
            <div class="card-content">
                <span class="card-title center-align">Change password</span>

                <form asp-action="ChangeForgottenPassword" asp-controller="User" method="post">
                    <input asp-for="UserIdentificator" hidden readonly />
                    <input asp-for="AuthorizationToken" hidden readonly />

                    <div class="input-field col s6">

                        <i class="material-icons prefix">lock</i>
                        <input type="password" asp-for="Password" required="" aria-required="true" class="validate">
                        <label asp-for="Password"></label>

                        <span asp-validation-for="Password" class="helper-text" style="color: #F44336"></span>

                    </div>

                    <div class="input-field col s6">

                        <i class="material-icons prefix">lock_open</i>
                        <input type="password" asp-for="ConfirmPassword" required="" aria-required="true" class="validate">
                        <label asp-for="ConfirmPassword"></label>

                        <span asp-validation-for="ConfirmPassword" class="helper-text" style="color: #F44336"></span>

                    </div>

                    <div class="center-align" style="margin-top: 10px">
                        <button class="btn waves-effect waves-light" type="submit">
                            Change password
                        </button>
                    </div>

                </form>

            </div>
        </div>

    </div>
</div>
