@model DataAnalysisSystem.DTO.UserDTO.EditUserDataAndPasswordViewModel

@{
    ViewData["Title"] = "Edit User Data";
}

<div id="userData" class="col s12" style="margin-top:50px">
    <div class="row" style="margin-bottom:0px">

        @{string marginTop = ViewData["Message"] == null ? "10vh" : "0vh";}

        <div class="col s12 m10 l8 offset-m1 offset-l2" style="margin-top: @marginTop">
            <div class="card">
                <div class="card-content">
                    <span class="card-title center-align">Edit User Personal Information</span>

                    <form asp-action="EditUserData" asp-controller="User" method="post">

                        <input asp-for="UserIdentificator" hidden readonly />
                        <input asp-for="UserDataSection" hidden readonly />

                        <div class="input-field">

                            <i class="material-icons prefix">mail_outline</i>
                            <input type="email" asp-for="Email" required="" aria-required="true" class="validate">
                            <label asp-for="Email"></label>

                            <span asp-validation-for="Email" class="helper-text" style="color: #F44336"></span>

                        </div>

                        <div class="input-field">

                            <i class="material-icons prefix">contact_page</i>
                            <input type="text" asp-for="FirstName" required="" aria-required="true" class="validate">
                            <label asp-for="FirstName"></label>

                            <span asp-validation-for="FirstName" class="helper-text" style="color: #F44336"></span>

                        </div>

                        <div class="input-field">

                            <i class="material-icons prefix">supervisor_account</i>
                            <input type="text" asp-for="LastName" required="" aria-required="true" class="validate">
                            <label asp-for="LastName"></label>

                            <span asp-validation-for="LastName" class="helper-text" style="color: #F44336"></span>

                        </div>

                        <div class="center-align" style="margin-top: 10px">
                            <button class="btn waves-effect waves-light" type="submit">
                                Edit
                            </button>
                        </div>

                    </form>

                </div>
            </div>
        </div>

    </div>
</div>

<div id="password" class="col s12" style="margin-top:50px">
    <div class="row" style="margin-bottom:0px">

        <div class="col s12 m10 l8 offset-m1 offset-l2" style="margin-top: @marginTop">
            <div class="card">
                <div class="card-content">
                    <span class="card-title center-align">Change User Password</span>

                    <form asp-action="ChangeUserPassword" asp-controller="User" method="post">

                        <input asp-for="UserIdentificator" hidden readonly />
                        <input asp-for="UserDataSection" hidden readonly />

                        <div class="input-field">

                            <i class="material-icons prefix">lock_clock</i>
                            <input type="password" asp-for="CurrentPassword" required="" aria-required="true" class="validate">
                            <label asp-for="CurrentPassword"></label>

                            <span asp-validation-for="CurrentPassword" class="helper-text" style="color: #F44336"></span>

                        </div>

                        <div class="input-field">

                            <i class="material-icons prefix">lock</i>
                            <input type="password" asp-for="NewPassword" required="" aria-required="true" class="validate">
                            <label asp-for="NewPassword"></label>

                            <span asp-validation-for="NewPassword" class="helper-text" style="color: #F44336"></span>

                        </div>

                        <div class="input-field">

                            <i class="material-icons prefix">lock_open</i>
                            <input type="password" asp-for="ConfirmNewPassword" required="" aria-required="true" class="validate">
                            <label asp-for="ConfirmNewPassword"></label>

                            <span asp-validation-for="ConfirmNewPassword" class="helper-text" style="color: #F44336"></span>

                        </div>

                        <div class="center-align" style="margin-top: 10px">
                            <button class="btn waves-effect waves-light" type="submit">
                                Change password
                            </button>
                        </div>

                    </form>

                </div>
            </div>
        </div>

    </div>
</div>

@section NavContent {

    <div class="nav-content">
        <ul class="tabs">
            <li class="tab">
                @if (Model.UserDataSection)
                {
                    <a href="#userData" class="active">User Data</a>
                }
                else
                {
                    <a href="#userData">User Data</a>
                }
            </li>
            <li class="tab">
                @if (!Model.UserDataSection)
                {
                    <a href="#password" active>Password</a>
                }
                else
                {
                    <a href="#password">Password</a>
                }
            </li>
        </ul>
    </div>
}

@section Notification
{
    @{await Html.RenderPartialAsync("_NotificationMenuValidationAndMessage");}
}

@section Scripts {
    @{await Html.RenderPartialAsync("_NavExtendedWithTabsScript");}
}