@model DataAnalysisSystem.DTO.ForgotPasswordViewModel

@{
    ViewData["Title"] = "ForgotPassword";
}

<div class="row" style="margin-bottom:0px">

    <div class="col s8 offset-s2" style="margin-top:12%">
        <div class="card card-login">
            <div class="card-content">
                <span class="card-title center-align">Reset forgotten password</span>

                <form method="post">

                    <div class="input-field">

                        <i class="material-icons prefix">mail_outline</i>
                        <input type="email" asp-for="Email" required="" aria-required="true" class="validate">
                        <label asp-for="Email"></label>

                        <span asp-validation-for="Email" class="helper-text" style="color: #F44336"></span>

                    </div>

                    <div class="center-align" style="margin-top: 10px">
                        <input class="btn" type="submit" value="Reset password">
                    </div>

                </form>

            </div>
        </div>

    </div>
</div>