@model DataAnalysisSystem.DTO.UserDTO.ForgotPasswordViewModel

@{
    ViewData["Title"] = "ForgotPassword";
}

<div class="row" style="margin-bottom:0px">

    <div class="col s8 offset-s2" style="margin-top: 10vh">
        <div class="card">
            <div class="card-content">
                <span class="card-title center-align">Reset forgotten password</span>

                <form asp-action="ForgotPassword" method="post">

                    <div class="input-field">

                        <i class="material-icons prefix">mail_outline</i>
                        <input type="email" asp-for="Email" required="" aria-required="true" class="validate">
                        <label asp-for="Email"></label>

                        <span asp-validation-for="Email" class="helper-text" style="color: #F44336"></span>

                    </div>

                    <div class="center-align" style="margin-top: 10px">
                        <input class="btn" type="submit" value="Reset password">
                    </div>

                </form>

            </div>
        </div>

    </div>
</div>

@section Notification
{
    <div class="row">
        <div class="col s8 offset-s2">

            <div asp-validation-summary="ModelOnly" class="row justify-content-center alert alert-danger validation-model"></div>

            @if (ViewData["Message"] != null)
            {
                <h2 class="alert alert-info" role="alert">@ViewData["Message"]</h2>
            }

        </div>
    </div>
}