<li>
    <div class="collapsible-header">
        <i class="material-icons">travel_explore</i>Deriverative<div class="switch" style="margin-left: auto; margin-right: 0px">
            <label>
                <input type="checkbox" name="selectedAnalysisMethods" value="deriverativeMethod">
                <span class="lever"></span>
            </label>
        </div>
    </div>
    <div class="collapsible-body">
        <p>Description</p>
    </div>
</li>